@keyframes placeHolderShimmer{
0%{
    background-position: -468px 0
}
100%{
    background-position: 468px 0
}
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}

   .loading {
            display: table;
            position: relative;
        }

        .loading_inner {
            background: #ffffff;
            background: url(http://www.miamiherald.com/projects/2014/zipcode/map/img/loading.gif) no-repeat center;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 100;
        }