
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<div class="row-list-course-5-each">
    <div class="row-list-course-5-each-image-wishlist animated-background">

    </div>
    <div class="row-list-course-5-each-information">
     
    </div>
</div>
         